.add-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  width: 200px;
  height: 400px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.close-button {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  height: 25px;
  margin-top: -10px;
  margin-right: -5px;
}

.add-button {
  margin-top: 5px;
  text-align: center;
  width: 50px;
  height: 32px;
}

.add-book .add-button {
  margin-left: 5px;
}

.add-title {
  margin-top: -10px;
}

.input-info {
  list-style-type: none;
  padding-left: 0;
}

.add-menu-upper {
  display: flex;
}

.input-info {
  position: relative;
}
