.bookpage {
  width: 100%;
  margin-left: 10px;
}
.page-title {
  font-family: 'Arial', sans-serif;
  font-size: 20px; 
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-menu {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  width: 300px;
  height: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.input-book-title {
  width: 100%;
  height: 20px;
}

.input-author {
  width: 100%;
  height: 20px;
}

.input-place {
  width: 100%;
  height: 20px;
}

.input-category{
  width: 100%;
  height: 20px;
}

.close-button {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
  height: 25px;
  margin-top: -10px;
  margin-right: -5px;
}

.add-book{
  margin-top: 5px;
}

.add-button {
  margin-top: 5px;
  text-align: center;
  width: 50px;
  height: 32px;
}

.add-book .add-button {
  margin-left: 5px;
}

.add-title {
  margin-top: -10px;
}

.input-info {
  list-style-type: none;
  padding-left: 0;
}

.add-menu-upper {
  display: flex;
}

.input-info {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
thead > tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  padding: 8px;
  background-color: white;
}

th > div {
  font-family: 'Arial', sans-serif;
  font-size: 18px; 
  font-weight: lighter;
}

tbody {
  width: 100%;
}

tbody > tr {
  margin: 5px;
  height: 50px;
  border-bottom: 1px solid #ddd;
}

td {
  padding-left: 8px;
  font-size: 16px; 
}

tr .button {
  width: 5%;
}

